/target
.vscode
test
test.*
opencl_test_harness/opencl_launcher.dSYM/*
opencl_test_harness/opencl_launcher
.DS_Store
wasm-parser
wasm2opencl
wasm-parser.d
*.c
wasm-serverless-invoke/target/*
benchmarks/json-compression/target/*
benchmarks/json-compression-lz4/target/*
benchmarks/pbkdf2/target/*
benchmarks/scrypt/target/*
benchmarks/imageblur/target/*
benchmarks/imageblur-bmp/target/*
benchmarks/cuda-blur/target/*
benchmarks/imagehash/target/*
benchmarks/imagehash-modified/target/*
benchmarks/*/target/*
*.rlib
*.rmeta
*.d
*.cl
*.wat.bin
*.wat.cl
*.wat
*.wasm
*.log
*.buildlog
*.csv
*.out
*.partbin
*.bc
*/node_modules/*
