/target
.vscode
test
test.*
opencl_test_harness/opencl_launcher.dSYM/*
opencl_test_harness/opencl_launcher
.DS_Store
wasm-parser
wasm2opencl
wasm-parser.d
*.c
wasm-serverless-invoke/target/*
benchmarks/json-compression/target/*
benchmarks/pbkdf2/target/*

*.rlib
*.rmeta
*.d
*.cl
*.wat.bin
*.wat.cl